general:
  # The plugin tick speed in seconds (e.g. for room checks, spawner actions...)
  tick-frequency: 1
  # maximum number of dungeons (-1 for unlimited)
  max-dungeons: -1
  # minimum distance between two dungeons
  min-dungeon-distance: 512
  # maximum distance of rooms from the dungeon center
  max-room-distance: 128
  # maximum length for room edges
  max-room-edge-lenth: 128
  # How close a player needs to get to a dungeon for it to wake up and start detailed checks.
  # This should ideally be greater than maxroom-distance and smaller than min-dungeon-distance.
  player-detection-range: 16
  # time in minutes that players can't be part of a dungeon party again
  player-lock-cooldown: 120
  # time in seconds that a dungeon needs to be sleeping in order to auto-reset. Use -1 to disable.
  auto-reset-time: 1800
  # maximum height for barriers
  max-barrier-height: 8
  # the sound that will be used if you activate boss music in a room
  boss-music: sound.battle_music
  # the length of the sound in ticks (for looping)
  boss-music-loop-length: 480

visualisation:
  dungeon-center:
    particle: SOUL_FIRE_FLAME
  room-edge:
    particle: FLAME
    density: 2
  spawner:
    particle: RAID_OMEN
  chest:
    particle: HAPPY_VILLAGER
  lock-chest:
    particle: ANGRY_VILLAGER
  barrier:
    particle: CAMPFIRE_COSY_SMOKE
  warp:
    particle: WITCH



###################################################
# +---------------------------------------------+ #
# |                   Towny                     | #
# +---------------------------------------------+ #
###################################################

# Optional settings if Towny is present on the server
# This will only apply to towns that have their dungeon metadata set 
# to a specific dungeon (using "/ta town <townname> setdungeon <dungeonname>")
# Valid placeholders are:
# {dungeon-id} {dungeon-name} {dungeon-description} {dungeon-status}

towny:
  show-custom-town-screen: true
  custom-town-screen:
  - "                          <gradient:#757575:#D7D7D7><bold>DUNGEON</gradient>"
  - "§6§l{dungeon-name}"
  - "§7{dungeon-description}"


###################################################
# +---------------------------------------------+ #
# |                  MapTowny                   | #
# +---------------------------------------------+ #
###################################################

# Optional settings if MapTowny is present on the server
# This will only apply to towns that have their dungeon metadata set 
# to a specific dungeon (using "/ta town <townname> setdungeon <dungeonname>")
# Valid placeholders are:
# {dungeon-id} {dungeon-name} {dungeon-description} {dungeon-status}

maptowny:
  show-custom-town-info: true
  dungeon-map-color: "#FF0000"
  dungeon-map-fill: "#00FF00"
  custom-town-info: |
    <center>
    <p style="font-size: 140%; font-weight: bold; line-height: 1em; margin-bottom: 5px">
      {dungeon-name}
    </p>
    <p style="font-size: 90%; font-weight: bold; line-height: 1em">
      DUNGEON
    </p>
    <hr />
    <object data="/images/dungeons/{dungeon-id}.jpg" type="image/png" style="width: 260px; height: 180px; margin-top: 5px">
      <img src="/images/og.png" alt="{dungeon-name}" style="width: 100%; height: auto">
    </object>
    <p>{dungeon-description}</p>
    <p><strong>Status:</strong> {dungeon-status}</p>
    </center>

###################################################
# +---------------------------------------------+ #
# |                  Messages                   | #
# +---------------------------------------------+ #
###################################################

messages:
  # Plugin prefix before every system message.
  prefix: "§c§lU§f§lL §7§lDungeons §8§l» "
  reload: "§2Plugin reloaded."
  teleport: "Teleporting in 3 seconds. Move to cancel."
  teleport-cancel: "Teleportation cancelled."
  visualisation-on: "Dungeon visualisation switched on."
  visualisation-off: "Dungeon visualisation switched off."
  no-permission: "§cYou don't have permission to use this command."

  # +---------------------------------------------+ #
  # |           Command Usage Infos               | #
  # +---------------------------------------------+ #

  info-barrier-create: "Usage: /uda barrier create"
  info-barrier-info: "Usage: /uda barrier info"
  info-barrier-remove: "Usage: /uda barrier remove"
  info-barrier-set: "Usage: /uda barrier set <property> <value>"
  info-chest-create: "Usage: /uda chest create"
  info-chest-info: "Usage: /uda chest info"
  info-chest-remove: "Usage: /uda chest remove"
  info-chest-set: "Usage: /uda chest set <property> <value>"
  info-dungeon-create: "Usage: /uda dungeon create <new_dungeon_name>"
  info-dungeon-delete: "Usage: /uda dungeon delete"
  info-dungeon-info: "Usage: /uda dungeon info"
  info-dungeon-set: "Usage: /uda dungeon set <location|warp|property_name> [property_value]"
  info-dungeon-set-location: "Usage: /uda dungeon set location"
  info-dungeon-set-warp: "Usage: /uda dungeon set warp"
  info-dungeon-set-public: "Usage: /uda dungeon set public <true|false>"
  info-dungeon-start: "Usage: /uda dungeon start [dungeon_name]"
  info-dungeon-stop: "Usage: /uda dungeon stop [dungeon_name]"
  info-dungeon-kick: "Usage: /uda dungeon kick <player_name>"
  info-player-dungeon-list: "Usage: /ud list"
  info-player-dungeon-start: "Usage: /ud start"
  info-player-dungeon-warp: "Usage: /ud warp <dungeon_name>"
  info-player-dungeon-info: "Usage: /ud info <dungeon_name>"
  info-player-invite: "Usage: /ud invite <player_name>"
  info-player-leave: "Usage: /ud leave"
  info-player-highscores: "Usage: /ud highscores <dungeon_name>"
  info-room-create: "Usage: /uda room create <new_room_name> [<width> <lentgh>]"
  info-room-info: "Usage: /uda room info"
  info-room-set: "Usage: /uda room set <property> <value>"
  info-room-delete: "Usage: /uda room delete"
  info-room-expand: "Usage: /uda room expand <x|y|z> <amount>"
  info-room-move: "Usage: /uda room move <x|y|z> <distance>"
  info-room-state: "Usage: /uda room state <edit|complete|reset>"
  info-spawner-create: "Usage: /uda spawner create"
  info-spawner-info: "Usage: /uda spawner info"
  info-spawner-remove: "Usage: /uda spawner remove"
  info-spawner-set: "Usage: /uda spawner set <property> <value>"

  # +---------------------------------------------+ #
  # |                 IO Messages                 | #
  # +---------------------------------------------+ #

  save-error: "§cError while saving changes."
  save-success: "§2All changes saved."
  file-delete-success: "§2Dungeon file deleted succesfully."
  file-delete-error: "§cError while trying to delete dungeon file."

  # +---------------------------------------------+ #
  # |               Command Errors                | #
  # +---------------------------------------------+ #

  error-no-dungeon-found: "§cYou are not close to a dungeon."
  error-no-dungeon-found-by-name: "§cThere is no dungeon with that name."
  error-not-in-room: "§cThis command can only be used inside of a dungeon room."
  error-in-room: "§cThis command can only be used outside of a dungeon room."
  error-barrier-not-found: "§cThere is no barrier at this location."
  error-chest-not-found: "§cThere is no chest at this location."
  error-max-dungeons: "§cMaximum allowed dungeons reached, you can't create another one."
  error-dungeon-too-close: "§cThis location is too close to another dungeon."
  error-dungeon-with-same-name: "§cA dungeon with the same name already exists."
  error-start-no-warp: "§cYou can't start a dungeon that doesn't have a warp location. Set one with /uda dungeon set warp."
  error-public-no-warp: "§cYou can't set a dungeon to public that doesn't have a warp location. Set one with /uda dungeon set warp."
  error-start-no-rooms: "§cYou can't start a dungeon that doesn't have any rooms."
  error-public-no-rooms: "§cYou can't set a dungeon to public that doesn't have any rooms."
  error-room-overlap: "§cOverlapping rooms are not allowed."
  error-room-too-large: "§cThe room size is too large."
  error-room-too-small: "§cThe room size is too small."
  error-number-format: "§cInvalid number format."
  error-spawner-not-found: "§cThere is no spawner at this location."
  error-not-in-party: "§cYou're not part of a dungeon party!"
  error-player-not-in-party: "§cPlayer is not part of a dungeon party."
  error-player-not-found: "§cCouldn't find an online player by that name."
  error-dungeon-not-locked: "§cThis dungeon isn't locked."
  error-player-still-on-lock-cooldown: "§cYou can't join this dungeon party because you already joined one recently! ({cooldown} cooldown remaining)"
  error-leader-still-on-lock-cooldown: "§cYou can't start this dungeon party because you already joined one recently! ({cooldown} cooldown remaining)"

  # +---------------------------------------------+ #
  # |             Dungeon Status Info             | #
  # +---------------------------------------------+ #

  dungeon-status-lock: "§fThis dungeon is now locked for your §3dungeon party§f. No other players can enter in the next {lock-time}, unless you invite them with /ud invite. Good luck, adventurers!"
  dungeon-status-locked: "This dungeon is §clocked §7by a party. It will be open again in {lock-time}."
  dungeon-status-lock-expired: "Your lock on §6{dungeon-name} §7has expired. All players can enter again."
  dungeon-status-not-lockable: "This dungeon cannot be locked for dungeon parties."
  dungeon-room-not-lockable: "You cannot lock the dungeon from this room."
  dungeon-status-not-public: "This dungeon isn't public."
  dungeon-status-no-warp: "There is no location to teleport to."
  dungeon-status-cooldown: "You've been teleported back to the entrance because this dungeon is on §ecooldown§7. It will open again in {cooldown-time}."
  dungeon-status-lock-cooldown: "This can't be locked since it is on §ecooldown§7. It will open again in {cooldown-time}."
  dungeon-completed: "§6{dungeon-name} §7has been completed and is now on §ecooldown§7. It will open again in {cooldown-time}."
  dungeon-complete-countdown: "§fCongratulations on completing the dungeon. You will be teleported out in {countdown}, so get all the loot while you still can!"
  dungeon-reset-teleport: "The dungeon you were in has been reset. You have been teleported back to the entrance."
  dungeon-started: "§2Dungeon started."
  dungeon-stopped: "§cDungeon stopped."
  dungeon-room-lockable: '§7You can use this room to start a §2dungeon party§7. Use "/ud start" to lock the dungeon for the current players and compete for the highscore (/ud highscores).'
  dungeon-room-forbidden: "§cERROR: You've entered a room that should only be accessible after solving a different room. You've been teleported back to the entrance of the dungeon."
  dungeon-highscores-cleared: "§bHighscores have been cleared."

  # +---------------------------------------------+ #
  # |                Dungeon Events               | #
  # +---------------------------------------------+ #

  dungeon-event-open:
    - "§c§m+|✦                    §r§c§l[§f§l Dungeon opened! §c§l]§c§m                     |✦+"
    - "§6{dungeon-name} §8has opened and is ready to welcome players."
    - "§7§o{dungeon-description}"
    - "§c§m+|✦                                 +✦+                                 |✦+"
  dungeon-event-completed:
    - "§c§m+|✦                    §r§c§l[§f§l Dungeon completed! §c§l]§c§m                  |✦+"
    - "§6{dungeon-name} §7has been completed and is now on cooldown. It will reopen in {cooldown-time}."
    - "§c§m+|✦                                 +✦+                                 |✦+"

  # +---------------------------------------------+ #
  # |                      Misc                   | #
  # +---------------------------------------------+ #

  player-party-start: "§fYou're now part of the dungeon party in §6{dungeon-name}. Complete the dungeon as fast as possible to get a spot in the Top 5 Highscores! (/ud highscores)"
  player-invited: "§3The player has been added to the dungeon party."
  invitation-received: "§3You've been added to the dungeon party in §6{dungeon-name}!"
  player-left: "§3You've left the dungeon party."
  new-highscore: '§aYour party''s time of {time} is a Top 5 highscore - you''ve been placed on rank {placement}. Good job! §7Check "/ud highscores" to see your competition.'
  dungeon-highscores:
    - "§c§m+|✦                  §r§c§l[§f§l Dungeon Highscores §c§l]§c§m                  |✦+"
    - "§l§6{dungeon-name} §fTop 5:"
    - "§l§f1. {time1} §r§7- {players1}"
    - "§l§f2. {time2} §r§7- {players2}"
    - "§l§f3. {time3} §r§7- {players3}"
    - "§l§f4. {time4} §r§7- {players4}"
    - "§l§f5. {time5} §r§7- {players5}"
    - "§c§m+|✦                                 +✦+                                 |✦+"
  dungeon-info:
    - "§c§m+|✦                     §r§c§l[§f§l Dungeon Info §c§l]§c§m                      |✦+"
    - "§6{dungeon-name}"
    - "§7§o{dungeon-description}"
    - "§lStatus:§r {status}"
    - "§lPlayers in dungeon:§r {players}"
    - "§c§m+|✦                                 +✦+                                 |✦+"
  elytra-disabled: "§cA spell in this dungeon has disabled your Elytra!"
  enderpearl-disabled: "§cA spell in this dungeon has rendered your Ender pearls useless!"
  windcharge-disabled: "§cA spell in this dungeon has rendered your wind charges useless!"
